---
import Layout from "~/layouts/Layout.astro";

import { Button } from "~/components/ui/button";

import { apiClient } from "@yts/shared";

const { data } = await apiClient.api.index.get();
---

<Layout>
  <Button variant="primary" className="m-2" client:idle>{data}</Button>
</Layout>
