---
import Layout from "~/layouts/Layout.astro";
import { Hero, Features, HowItWorks } from "~/components/marketing";

export const prerender = true;
---

<Layout>
  <div class="py-12 md:py-20">
    <Hero />
    <Features />
  </div>
  <HowItWorks />
</Layout>
